
<!-- <div class="container"> -->
<h1 class="testColors">Adorn</h1>
<p id="border">Free shipping on purchases over $50</p>
<ul>
	<li>My Bag</li>
	<li>My Account/Sign Up</li>
	<li></li>
</ul>
<!-- <form id="searchBox">
  <input type="search" placeholder="Search Products" id="search">
  <button type="submit" id="submit" class="glyphicon glyphicon-search"></button>
</form> -->

<div class="container">
<nav>
	<li>What's New</li>
	<li>Necklaces</li>
	<li>Earrings</li>
	<li>Bracelets</li>
	<li>Rings</li>
	<li>Sale</li>
</nav>


<div id="indexImages">
	<img src="images/earring/tasselEarring.jpg"/>
</div>


</div>

