// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$testColors: rgb(49, 129, 78);

.testColors {
	background-color: $testColors;
}

#border {
	border: solid red 10px;
}

p {
	font-size: 4em;
}